@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
    background: #1e1e2e;
}


header.main {
    background: #11111b;
    margin: -7.5px;
    position: relative;
    bottom: 8.15px;
    display: block;
    & > h1 {
            font: 24px Cousine;
            color: #cdd6f4;
            margin-left: 5px;
    }
}

div.box {
    border: 2px solid #f5c2e7;
    box-shadow: 10px 5px 5px #11111b;
    position: absolute;
    left: 50%;
    top: 45%;
    width: 750px;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #cdd6f4;
    font: 36px Cousine;
}

a, a:visited {
    margin: 20px;
    font: 20px Cousine;
    text-align: center;
    color: #f5c2e7;
    text-decoration:none;
}


