@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font: Cousine;
}

html {
    background-image: linear-gradient(to right, var(--red),var(--maroon),var(--yellow),var(--green),var(--blue),var(--mauve),var(--pink));
}

.terminals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    margin: 0 auto;
    margin-top: 25vh;
    max-width: 1500px;
}

.terminal, .oops {
    border: 2px solid var(--pink);
    box-shadow: 10px 5px 5px var(--crust);
    color: #cdd6f4;
    font: 24px var(--font);
    background: var(--base);
}

.bio {
    grid-row: 1 / span 2;
}

a, a:visited {
    font: 24px var(--font);
    color: var(--pink);
    text-decoration: none;
}

.oops {
    margin: 0 auto;
    margin-top: 25vh;
    max-width: 600px;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .terminal {
        width: 100%;
        margin-top: 12px;
    }

    .terminals {
        display: inline-block;
        margin-top: 0;
    }
}



